@font-face {
  font-family: "Ubuntu-bold";
  src: url("/vendors/google-fonts/ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu-reg";
  src: url("/vendors/google-fonts/ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("/vendors/google-fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-black";
  src: url("/vendors/google-fonts/montserrat/Montserrat-Black.ttf");
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* style for better responsive design for maps */
body {
  padding: 0;
  margin: 0;
}

/* modal */

.modal-content {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  color: white;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 300;
  width: 75%;
  height: 85%;
}

.modal-body {
  padding: 0;
}

.modal-body .carousel-container {
  padding: 0;
}

/* Carousel */
.custom-carousel-buttons {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
}

.slider-buttons button {
  background: none;
  border: none;
}

/* cards */

.modal-card {
  background-image: url("../images/rain.jpg");
  background-repeat: no-repeat;
  border: none;
  background-size: cover;
  color: white;
  text-align: center;
  padding-bottom: 5%;
}

.modal-card h6 {
  text-align: left;
}
.modal-card p {
  text-align: right;
}

.weather-box {
  border: none;
  border-radius: 10px;
  margin-bottom: 15%;
  position: relative;
  z-index: 1;
  color: white;
  padding: 10%;
}

.weather-box:before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(13, 50, 77, 0.3) 0%,
    rgba(127, 90, 131, 0.1) 100%
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  opacity: 1;
}

.modal-body,
.modal-card,
.barometer .list-group {
  border-radius: 10px;
}

.barometer {
  width: 90%;
}

.barometer .list-group-item {
  background: white;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-backdrop-filter: blur(0px);
  color: black;
  border: none;
}

.list-group-item {
  padding: 6% 15% 2% 18%;
}
